
@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --fonte1: 'verdana', geneva;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html , body {

    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header{

    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
    font-family: var(--fonte2);
}
h1{
    font-size: 10vw;
}

a{

    color: white;
    text-decoration: none;
    font-weight: bolder;

}

a:hover{

    text-decoration: underline;
}

section#um{

    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#dois{

    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
}


section{

    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
}


section.normal {

    background-color: white;
    color: black;

}


section.imagem{

    border-color: rgba(131, 126, 126, 0.349);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed;
    



}

section.imagem > p {
    width: 400px;
    background-color: rgba(66, 65, 65, 0.39);

}

footer{

    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    
}

